@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
  display: flex;
}
.primary-color{
  color: rgba(255, 144, 14, 1);
}
.text-gray{
  color: #424242;
}
.text-light-gray{
  color: #727272;
}
.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary{
  background-color: rgba(255, 144, 14, 1);
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  border-radius: 8px;
  border: none;
}
main{
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 130px;
}
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}
.feature-description{
  max-width: 540px;
}
/* header style */

/* navbar style */
.navbar{
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-size: 3rem;
  font-weight: 700;
}
.nav-links{
  font-size: 18px;
  font-weight: 500;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
 
}
.nav-link{
  text-decoration: none;
}
.banner, .navbar{
  max-width: 1440px;
  margin: 0 auto;
}
/* banner style */
.banner-content{
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
}
.banner-image{
  width: 100%;
}
/* team and feature style */
.teams{
  align-items: center;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-feature{
  margin-left: 130px;
  max-width: 530px;
}

#quick-list{
  font-weight: 500;
}
.feature-description{
  margin-bottom: 20px;
}
/* facts style */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  

}
.fact-card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.fact-number{
  margin-top: 10px;
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
}
/* sponsor container style */
.sponsor-container{
  margin-bottom: 130px;
}
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sponsor-companies img{
 filter: grayscale(100%);
}
/* feature section style */
.features{
  gap: 140px;
}
#feature-section-title{
  border-left: 5px solid #FF900E;
  padding-left: 20px;

}
.feature-card{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;
  
  
}
.feature-card .feature-title{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;

}
#experience-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: -100px;
  margin-top: -100px;
}
#experience-year{
  font-size: 4rem;
  font-weight: 700;
}
.featured-architect img{
  width: 100%;
}
/* footer style */
#myfooter{
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 8px;
} 
.footer-text{
  padding: 38px;
  text-align: center;
  
}
/* responsive style  for small devices*/
@media screen and (max-width: 576px) {
  .navbar, 
  .nav-links,
  .features,
  .teams{
    flex-direction: column;
  }
  .team-img-container,
  .facts-container,
  .sponsor-companies{
    grid-template-columns: repeat(1, 1fr);
  }
  .facts-container{
    justify-items: center;
    gap: 24px;
  }
  .sponsor-companies{
    justify-items: center;
    gap: 50px;
  }
  .our-feature{
    margin-left: 20px;
  }
  #experience-badge{
    margin-left: 20px;
    margin-top: 20px;
  }
}
/* responsive style  for small devices*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .features{
    flex-direction: column;
  }
  .facts-container,
  .sponsor-companies {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 50px;
  }
  .our-feature{
    margin: 50px auto;
  }
  #experience-badge{
    margin-left: 20px;
    margin-top: 20px;
  }
}